<main class="main-grid">
  <div class="game-layout">
    <div class="game-area">
      <div class="hangman-container">
        <app-hangman-draw [errors]="gs.errors()"/>
      </div>

      <div class="word-container">
        <div id="word-display" class="word-display">
          @if (gs.word() !== '') {
            @for (item of gs.word().split(''); track $index) {
              @if (gs.letters().some(l => l.letter == item)) {
                  <span class="letter-placeholder">{{item}}</span>
              } @else {
                  <span class="letter-placeholder"></span>
              }  
            }
          }
            
        </div>
      </div>
    </div>

    <div class="sidebar">
      <div class="card bg-base-200 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Lettres jouées</h2>
          <app-letters-used [letters]="gs.letters()"/>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Actions</h2>
          <button class="btn btn-primary btn-block" (click)="gs.startGame()">Nouvelle Partie</button>
          <button class="btn btn-outline btn-block" routerLink="/history">Historique des parties</button>
        </div>
      </div>
    </div>
  </div>
</main>

@if (gs.status() != "playing") {
  <dialog id="game-over-modal" class="modal" open>
    <div class="modal-box">
      <h3 class="font-bold text-lg">Partie terminée !</h3>
      @if (gs.status() == "won") {
        <p class="py-4" id="game-result">Félicitations!</p>
      } @else {
        <p class="py-4" id="game-result">Game Over! Le mot était: {{gs.word()}}</p>
      }
      <div class="modal-action">
        <button class="btn btn-primary" (click)="gs.startGame()">Rejouer</button>
      </div>
    </div>
  </dialog>
}

@if (gs.isError()) {
  <div class="text-center mt-4">
    <p class="text-error font-bold">Erreur de connexion à l'API</p>
    <button class="btn btn-primary mt-2" (click)="gs.startGame()">Réessayer</button>
  </div>
}

