<main class="main-grid">
  <div class="game-layout">
    <div class="game-area">
      <div class="hangman-container">
        <app-hangman-draw [errors]="gs.errors()"/>
      </div>

      <div class="word-container">
        @if (gs.word() !== '') {
          <app-word-display [word]="gs.word()" [letters]="gs.letters()"/>
        }
      </div>
    </div>

    <div class="sidebar">
      <div class="card bg-base-200 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Lettres jouées</h2>
          <app-letters-used [letters]="gs.letters()"/>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Actions</h2>
          <button class="btn btn-primary btn-block" (click)="gs.startGame()">Nouvelle Partie</button>
          <button class="btn btn-outline btn-block" routerLink="/history">Historique des parties</button>
        </div>
      </div>
    </div>
  </div>
</main>

@if (gs.status() != "playing") {
  <app-game-over-modal [status]="gs.status()" [word]="gs.word()" (replay)="gs.startGame()"/>
}

@if (gs.isError()) {
  <div class="text-center mt-4">
    <p class="text-error font-bold">Erreur de connexion à l'API</p>
    <button class="btn btn-primary mt-2" (click)="gs.startGame()">Réessayer</button>
  </div>
}
